@mixin absCentre // mixin centring the element in parent
{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin responsive($specifiedWidth) // mixin for media queries
{
    // if it is for large screen
    @if $specifiedWidth == $br-desk-big
    {
        @media only screen and (min-width: $specifiedWidth)
        {
            @content
        };
    }

    @else
    {
        @media only screen and (max-width: $specifiedWidth)
        {
            @content
        };
    }
}