$br-desk-big: 112.5em; // 1800px
$br-nav: 62.5em; // 1000px
$br-cont: 56.25em; // 900px
$br-small: 46.875em; // 750px
$br-phone: 40.625em; // 650px

:root
{    
    --border-radius: 3px;

    --color-background-transparent: hsla(0, 0%, 96%, 80%);

    --color-dark: hsl(0, 0%, 10%);

    --color-error: hsl(0, 75%, 35%);
    --color-error-dark: hsl(0, 75%, 20%);
    --color-error-light: hsl(0, 75%, 50%);

    --color-primary: hsl(0, 100%, 35%);
    --color-primary-dark: hsl(0, 100%, 20%);
    --color-primary-light: hsl(0, 60%, 60%);

    --color-selection: hsl(16, 100%, 50%);

    --color-shadow: hsla(0, 0%, 10%, 20%);
    --color-shadow-2: hsla(0, 0%, 10%, 10%);

    --color-success: hsl(120, 75%, 35%);
    --color-success-dark: hsl(120, 75%, 20%);
    --color-success-light: hsl(120, 75%, 50%);

    --color-text-primary: hsl(0, 0%, 15%);
    --color-text-secondary: hsl(0, 0%, 96%);
    --color-text-placeholder: hsl(0, 0%, 40%);
    --color-text-tertiary: hsl(0, 0%, 10%);

    --color-warning: hsl(60, 100%, 50%);
    --color-warning-dark: hsl(60, 100%, 35%);
    --color-warning-light: hsl(60, 100%, 65%);

}