<% include ../partials/header.ejs %>
<section class="main__section">
    <div class="row manage__header">
        <span class="manage__option">Autor</span>
        <span class="manage__option">Zaakceptowane</span>
        <span class="manage__option">Opcje</span>
    </div>
    <% comments.forEach((comment) => { if(!comment.accepted) { %>
        <div class="row">
            <span class="manage__option"><%= comment.author.username %></span>
            <span class="manage__option"><%= comment.accepted %></span>
            <span class="manage__option"><a class="button button--block button-success" href="/admin/entry/id/<%= comment.entry %>/comment/id/<%= comment._id %>/edit %>"></a></span>
        </div>
    <% }}); %>
</section>
<% include ../partials/footer.ejs %>