<% include ../partials/header.ejs %>
<form action="/admin/entry/<%= entry._id %>/comment/<%= comment._id %>?_method=PUT" method="POST" class="form">
    <div class="form__header">
        Moderuj komentarz
    </div>
    <div class="form__body">
        <div class="form__entry">
            <%= comment.text %>
        </div>
        <div class="form__entry">
            <select name="comment[accepted]" id="accepted" class="form__input">
                <option value="true"<% if(comment.accepted) { %> selected <% } %>>Tak</option>
                <option value="false" <% if(!comment.accepted) { %> selected <% } %>>Nie</option>
            </select>
            <label for="accepted" class="form__label">Zaakceptowane:</label>

        </div>
        <div class="form__entry">
            <button class="button--block button button--success form__submit">Wyślij</button>
            <span class="form__label"></span>
        </div>
    </div>
</form>
<% include ../partials/footer.ejs %>