<% include ../partials/header %>

<section class="main__section">
    <div class="entry">
    <h1 class="entry__header">Dostępne opcje:</h1>
    <ul class="entry__list">
        <li class="entry__list-item"><a href="/admin/users" class="entry__list-link">Użytkownicy</a></li>
        <li class="entry__list-item"><a href="/admin/comments" class="entry__list-link">Komentarze</a></li>
        <li class="entry__list-item"><a href="/timetable/manage" class="entry__list-link">Mecze</a></li>
    </ul>
</div>
</section>

<% include ../partials/footer %>