<% include ../partials/header %>
<form action="/admin/users/<%= user._id %>?_method=PUT" method="POST" class="form">
    <div class="form__header">Edytuj użytkownika</div>
    <div class="form__body">
        <div class="form__entry">
            <select name="user[rank]" id="rank" class="form__input">
                <option value="User" <% if(user.rank === "User") { %> selected <% } %>>Użytkownik</option>
                <option value="Admin" <% if(user.rank === "Admin") { %> selected <% } %>>Admin</option>
            </select>
            <label for="rank" class="form__label">Ranga:</label>
        </div>
        <div class="form__entry">
            <select name="user[accepted]" id="accepted" class="form__input">
                <option value="false" <% if(!user.accepted) { %> selected <% } %>>Nie</option>
                <option value="true" <% if(user.accepted) { %> selected <% } %>>Tak</option>
            </select>
            <label for="accepted" class="form__label">Akceptacja:</label>
        </div>
        <div class="form__entry">
            <button class="button button--success button--block form__submit">Wyślij</button>
            <span class="form__label">&nbsp;</span>
        </div>
    </div>
</form>
<% include ../partials/footer %>