<% include ../partials/header.ejs %>
<section class="main__section">
    <div class="row manage__header">
        <span class="manage__option">Nazwa użytkownika</span>
        <span class="manage__option">Ranga</span>
        <span class="manage__option">Akceptacja</span>
        <span class="manage__option">Opcje</span>
    </div>
    <% users.forEach((user) => { %>
    <div class="row">
        <span class="manage__option"><%= user.username %></span>
        <span class="manage__option"><%= user.rank %></span>
        <span class="manage__option"><%= user.accepted %></span>
        <span class="manage__option"><a class="button button--success button--block" href="/admin/users/<%= user._id %>">Edytuj</a></span>
    </div>
    <% }) %>
</section>
<% include ../partials/footer.ejs %>