.footer
{
    background-color: var(--color-dark);
    color: var(--color-text-secondary);
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 8rem 4rem;

    @include responsive($br-nav) // media query, ~1000px
    {
        flex-direction: column;
    }

    &__copyright
    {
        @include responsive($br-nav) // media query, ~1000px
        {
            margin-bottom: 3rem;
        }
    }

    &__link
    {
        &:link, &:visited
        {
            color: var(--color-text-secondary);
            display: block;
            margin-top: 2rem;
            text-decoration: none;
            transition: all .2s;
        }

        &:hover
        {
            color: var(--color-error-light);
            font-weight: 800;
        }

        &--icon
        {
            fill: var(--color-text-secondary);
            height: 3rem;
            margin-right: 1rem;
            transform: translateY(.5rem);
            transition: fill .2s;
            width: 3rem;
        }

        &:hover &--icon
        {
            fill: var(--color-error-light);
        }
    }
}