.main
{
    background-color: var(--color-background-transparent);
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    min-height: 47vh;
    padding: 8rem 4rem;

    @include responsive($br-nav) // media query ~1000px
    {
        flex-direction: column;
    }

    @include responsive($br-phone) // media query ~650px
    {
        padding: 4rem 2rem;
    }

    &__aside
    {
        flex: 1;
        margin-left: 1.5rem;

       @include responsive($br-nav) // media query ~1000px
        {
            margin-left: 0rem;
            margin-top: 1.5rem;
        }
    }

    &__section
    {
        flex: 2;
        margin-right: 1.5rem;

        @include responsive($br-nav) // media query ~1000px
        {
            margin-right: 0rem;
            margin-bottom: 1.5rem;
        }
    }
}