.navbar
{
    background-color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary-dark);
    height: 7rem;
    left: 0;
    position: sticky;
    top: 0;
    z-index: 2;

    @include responsive($br-nav)
    {
        height: 10vh;
    }


    &__button
    {
        background-color: transparent;
        border: 2px solid var(--color-text-secondary);
        border-radius: var(--border-radius);
        cursor: pointer;
        display: none;
        height: 6vh;
        position: relative;
        transition: background-color .2s;
        width: 12vh;

        &:hover
        {
            background-color: var(--color-primary-light);
        }

        @include responsive($br-nav)
        {
            align-self: flex-end;
            display: block;
            margin: 2vh 10vw;
        }
    }

    &__button:hover &__button--icon::after
    {
        transform: translateY(-1.5vh);
    }

    &__button:hover &__button--icon::before
    {
        transform: translateY(1.5vh);
    }

    &__button--icon
    {
        @include absCentre;

        background-color: var(--color-text-secondary);
        height: .75vh;
        transition: background-color 0s .1s;
        width: 60%;

        &::after, &::before
        {
            background-color: var(--color-text-secondary);
            content: "";
            display: inline-block;
            height: .75vh;
            position: absolute;
            transition: transform .2s;
            width: 100%;
        }

        &::after
        {
            transform: translateY(-1.25vh);
        }

        &::before
        {
            transform: translateY(1.25vh);
        }
    }

    &__checkbox
    {
        display: none;
    }

    &__checkbox:checked + &__button &__button--icon
    {
        background-color: transparent;
        transition: background-color 0s 0s;

        &::after, &::before
        {
            left: 50%;
            top: 50%;
            width: 50%;
        }

        &::after
        {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::before
        {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }

    &__checkbox:checked ~ &__menu
    {
        height: 50rem;
    }

    &__checkbox:checked ~ &__menu--admin
    {
        height: 60rem;
    }

    &__container
    {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 0 auto;
        width: 95%;

        @include responsive($br-nav)
        {
            flex-direction: column;
            justify-content: flex-start;
            width: 100%;
        }
    }

    &__link
    {
        &:link, &:visited
        {
            align-items: center;
            background-color: var(--color-primary);
            border-left: 1px solid var(--color-text-secondary);
            border-right: 1px solid var(--color-text-secondary);
            color: var(--color-text-secondary);
            display: flex;
            flex: 0 0 15rem;
            font-size: 2rem;
            line-height: 6.8rem;
            justify-content: center;
            text-decoration: none;
            transition: background-color .2s;

            @include responsive($br-nav)
            {
                border-right: none;
                border-left: none;
                border-bottom: 1px solid var(--color-text-secondary);
                flex: 0 0 10rem;
            }
        }

        &:hover
        {
            background-color: var(--color-primary-light);
        }

        &--icon
        {
            fill: var(--color-text-secondary);
            height: 3rem;
            margin-right: .5rem;
            width: 3rem;
        }
    }

    &__menu
    {
        display: flex;
        flex-direction: row-reverse;
        overflow: hidden;
        width: 100%;
        transition: height .4s;

        @include responsive($br-nav)
        {
            flex-direction: column-reverse;
            height: 0;
        }
    }
}