</main></div></div>

<footer class="footer">
    <div class="footer__copyright">Zezwala się na kopiowanie treści po uzyskaniu zgody autora.</div>
    <div class="footer__author">Pomysł i wykonanie: Damian Sikora, 2019 rok
        <a href="https://twitter.com/DS4d1n" class="footer__link">
        <svg class="footer__link--icon"><use href="/sprites.svg#icon-twitter"></use></svg>
        Damian Sikora (@DS4d1n)
        </a>
        <a href="https://gitlab.com/dsikora6" class="footer__link">
            <svg class="footer__link--icon"><use href="/sprites.svg#icon-gitlab"></use></svg>
            Damian Sikora (@dsikora6)
            </a>
    </div>
</footer>
</body>
</html>