<!DOCTYPE html>
<html lang="pl">
    <head>
        <title>Pasiastym okiem</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/icon.png">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <% if(cookies.theme && cookies.theme === "Night") { %>
            <link rel="stylesheet" type="text/css" href="/stylenight.css">
        <% }%>
	    <script type="text/javascript" src="/functions.js" defer></script>
	    <script type="text/javascript" src="/eventlisteners.js" defer></script>
        <script type="text/javascript" id="cookieinfo" src="//cookieinfoscript.com/js/cookieinfo.min.js" data-font-family="Roboto" data-fg="#222" data-bg="#eee" data-link="#db36a4" data-divlink="#eee" data-divlinkbg="#db36a4" data-message="Strona wykorzystuje pliki cookies. Kontynuując przeglądanie wyrażasz zgodę na ich wykorzystywanie." data-linkmsg="Więcej informacji." data-moreinfo="https://pl.wikipedia.org/wiki/HTTP_cookie"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"></script>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar__container">
                <div data-target="#collapseNavbar" class="navbar__button" id="navbarButton">
                    <span class="navbar__button--icon"></span>
                </div>
                <div id="collapseNavbar" class="navbar__menu navbar__menu--collapsed">
                    <% if(cookies.theme && cookies.theme === "Night") { %>
                    <a href="/day" class="navbar__link"><svg class="navbar__link--icon">
                        <use href="/sprites.svg#icon-sun-o"></use>
                    </svg>Dzienny</a>
                    <% } else { %>
                    <a href="/night" class="navbar__link"><svg class="navbar__link--icon">
                        <use href="/sprites.svg#icon-moon-o"></use>
                    </svg>Nocny</a>
                    <% } %>
                    <% if(currentUser) { %>
                    <a href="/logout" class="navbar__link">Wyloguj</a>
                    <% if(currentUser.rank === "Admin") { %>
                    <a href="/admin" class="navbar__link">Administracja</a>
                    <a href="/entry/new" class="navbar__link">Nowy wpis</a>
                    <% }} else { %>
                    <a href="/login" class="navbar__link">Zaloguj</a>
                    <a href="/register" class="navbar__link">Zarejestruj</a> <% } %>
                    <a href="/timetable" class="navbar__link">Terminarz</a>
                    <a href="/" class="navbar__link">Strona główna</a>
                </div>
            </div>
        </nav>
        <div class="wrapper">
            <div class="container">
                <% if(error && error.length > 0) { %>
                    <div class="notification notification--error"><%= error %></div><% } %>
                    <% if(success && success.length > 0) { %>
                    <div class="notification notification--success"><%= success %></div><% } %>
                    <% if(warning && warning.length > 0) { %>
                    <div class="notification notification--warning"><%= warning %></div><% } %>
                <main class="main u-mar-top-lg u-mar-bottom-lg">