<% include partials/header.ejs %>
<section class="main__section">
    <div class="entry">
        <div class="entry__header" style="font-size: 12rem; text-align: center; line-height: 14rem">404</div>
        <div class="entry__body">Niestety, strony nie znaleziono. Proszę skorzystać z menu w celu dostania się na inną podstronę.</div>
        <div class="entry__footer"><a href="/" class="entry__link">Wróć na stronę główną.</a></div>
    </div>
</section>
<% include partials/footer.ejs %>