<% include partials/header.ejs %>
<% moment.locale("pl") %>
<section class="main__section">
    <% if(entry) { %>
    <div class="entry">
        <div class="entry__header"><a href="/entry/id/<%= entry._id %>" class="entry__link">
            <%= entry.title %>
        </a></div>
        <div class="entry__body">
            <%- entry.text %>
            <% if(currentUser && currentUser.rank === "Admin") { %>
            <a href="/entry/id/<%= entry._id %>/edit" class="u-mar-top-sm button button--success button--block">Edytuj</a>
            <form action="/entry/id/<%= entry._id %>?_method=DELETE" class="u-mar-top-sm" method="POST"><button class="button button--error button--block">Usuń</button></form><% } %>
        </div>
        <div class="entry__footer">
            <span><%= moment(entry.createdAt).fromNow() %></span>
            <span><a href="/entry/id/<%= entry._id %>#comments" class="entry__link"><%= entry.comments.length %> komentarz<% if(entry.comments.length%100 > 10 && entry.comments.length%100 < 20) { %>y<% } else if(entry.comments.length%10 > 1 && entry.comments.length%10 < 5) { %>e<% } else if(entry.comments.length === 1) { } else { %>y<% } %>  </a></span>
        </div>
    </div><% } %>
</section>
<aside class="main__aside">
    <div class="entry">
        <div class="entry__header" style="display: flex; justify-content: space-between"><span id="entryBack"><svg class="entry__icon"><use href="/sprites.svg#icon-chevron-left"></use></svg></span><span>Artykuły</span><span id="entryNext"><svg class="entry__icon"><use href="/sprites.svg#icon-chevron-right"></use></svg></span></div>
        <div class="entry__body"><ul class="entry__list" id="entryList"></ul></div>
    </div>
    <br><br>
    <div class="entry">
        <div class="entry__header u-text-center"><span>Dzisiaj grają</span></div>
        <div class="entry__body" id="matchesToday">
            <div><span>Niestety, brak meczów</span></div>
        </div>
    </div><br><br>
    <div class="entry">
        <div class="entry__header u-text-center"><span>Następne 8 meczów</span></div>
        <div class="entry__body" id="nextMatches">
            
        </div>
    </div>
</aside>
<% include partials/footer.ejs %>