<% include ../partials/header.ejs %>

    <form action="/changepassword" method="POST" class="form">
        <div class="form__header">
            Zmiana hasła
        </div>
        <div class="form__body">
            <div class="form__entry">
                <input id="password" name="password" type="password" required minlength="8" maxlenght="44" placeholder="Hasło" class="form__input form__input--validated">
                <label for="password" class="form__label">Hasło:</label>
            </div>
            <div class="form__entry">
                <input id="passwordConfirmation" name="passwordConfirmation" type="password" required minlength="8" maxlenght="44" placeholder="Powtórz hasło" class="form__input form__input--validated">
                <label for="passwordConfirmation" class="form__label">Powtórz:</label>
            </div>
            <div class="form__entry">
                <button class="button button--block button--success form__submit" id="submitButton" style="display:none">Wyślij</button>
                <span class="form__label" id="passwordInfo">Hasła są różne</span>
            </div>
        </div>
    </form>
<script>
    const password1 = document.querySelector("#password");
    const password2 = document.querySelector("#passwordConfirmation");
    const submit = document.querySelector("#submitButton");
    const passwordInfo = document.querySelector("#passwordInfo");
    const compare = (pass1, pass2) =>
    {
        if(pass1 === pass2)
        {
            submit.style.display = "block";
            passwordInfo.textContent = " ";
        }
        else
        {
            submit.style.display = "none";
            passwordInfo.textContent = "Hasła są różne";
        }
    }

    password1.addEventListener("input", e => compare(password1.value, password2.value));
    password2.addEventListener("input", e => compare(password1.value, password2.value));
</script>
<% include ../partials/footer.ejs %>