<% include ../partials/header.ejs %>

    <form action="/register" method="POST" class="form">
        <div class="form__header">
            Rejestracja użytkownika
        </div>
        <div class="form__body">
            <div class="form__entry">
                <input id="username" name="username" type="text" placeholder="Nazwa użytkownika" class="form__input--validated form__input" required minlength="3" maxlength="20">
                <label for="username" class="form__label">Nazwa użytkownika:</label>
            </div>
            <div class="form__entry">
                <input id="password" name="password" type="password" placeholder="Hasło" class="form__input--validated form__input" required minlength="8" maxlenght="44">
                <label for="password" class="form__label">Hasło:</label>
            </div>
            <div class="form__entry">
                <button class="button button--block button-success form__submit">Wyślij</button>
                <span class="form__label">&nbsp;</span>
            </div>
        </div>
    </form>
<% include ../partials/footer.ejs %>