.button
{
    &, &:link, &:visited
    {
        background-color: transparent;
        border: 2px solid var(--color-text-primary);
        border-radius: var(--border-radius);
        color: var(--color-text-tertiary);
        cursor: pointer;
        display: inline-block;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        text-align: center;
        text-decoration: none;
        transition: all .2s;
    }

    &:focus, &:hover
    {
        box-shadow: 0 2rem 4rem var(--color-shadow-2);
        outline: none;
    }

    &:active
    {
        box-shadow: 0 1rem 2rem var(--color-shadow);
    }

    &--block
    {
        &, &:link, &:visited
        {
            width: 100%;
        }
    }

    &--error
    {
        &, &:link, &:visited
        {
            background-color: var(--color-error);
            border-color: var(--color-error-dark);
            color: var(--color-text-secondary);
        }

        &:focus, &:hover
        {
            background-color: var(--color-error-light);
        }
    }

    &--success
    {
        &, &:link, &:visited
        {
            background-color: var(--color-success);
            border-color: var(--color-success-dark);
            color: var(--color-text-secondary);
        }

        &:focus, &:hover
        {
            background-color: var(--color-success-light);
        }
    }

    &--warning
    {
        &, &:link, &:visited
        {
            background-color: var(--color-warning);
            border-color: var(--color-warning-dark);
        }

        &:focus, &:hover
        {
            background-color: var(--color-warning-light);
        }
    }
}