.entry
{
    background-color: var(--color-background-transparent);
    border: 2px solid var(--color-primary-dark);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;

    &__body
    {
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem;
    }

    &__footer
    {
        background-color: var(--color-primary);
        color: var(--color-text-secondary);
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    &__header
    {
        background-color: var(--color-primary);
        color: var(--color-text-secondary);
        font-size: 2rem;
        line-height: 1.5;
        padding: 1rem 2rem;
    }

    &__icon
    {
        cursor: pointer;
        height: 2.5rem;
        fill: var(--color-text-secondary);
        transform: translateY(.5rem);
        width: 2.5rem;
    }

    &__link
    {
        &:link, &:visited
        {
            color: var(--color-text-secondary);
            font-weight: 400;
            text-decoration: none;
            transition: font-weight .2s;
        }

        &:hover
        {
            font-weight: 800;
        }
    }

    &__list
    {
        list-style: none;
    }

    &__list-item
    {
        display: flex;
        transition: background-color .3s;

        &:hover
        {
            background-color: var(--color-shadow-2);
        }

        &:not(:last-child)
        {
            border-bottom: 2px solid var(--color-shadow-2);
        }
    }

    &__list-link
    {
        color: var(--color-text-primary);
        padding: .8rem .5rem;
        text-decoration: none;
        transition: color .3s;
        width: 100%;

        &:hover
        {
            color: var(--color-error);
            font-weight: 600;
        }

    }

    &__list-text
    {
        list-style: none;
        margin-bottom: 1rem;
        margin-top: 1rem;
        
        
        li
        {
            display: flex;
            padding-left: .5rem;

            &::before
            {
                font-weight: 800;
                height: 100%;
                margin-right: 1rem;
                text-align: center;    
            }
        }
    }

    &__list-text--minus
    {
        li::before
        {
            content: "-";
        }
    }

    &__list-text--plus
    {
        li::before
        {
            content: "+";
        }
    }

    &__paragraph
    {
        line-height: 1.4;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}