.form
{
    border: 2px solid var(--color-primary-dark);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    width: 100%;

    &__body
    {
        background-color: var(--color-background-transparent);
        padding: 2rem 2rem;
        font-size: 2rem;

        @include responsive($br-small) // media query, ~750px
        {
            padding: 1rem 1rem;
        }
    }

    &__button
    {
        border: 3px solid var(--color-error);
        border-radius: var(--border-radius);
        display: inline-block;
        height: 3rem;
        margin-right: .5rem;
        position: relative;
        top: .8rem;
        width: 3rem;

        &::after, &::before
        {
            @include absCentre; // absolute positioning mixin, centering within parent element

            background-color: var(--color-error);
            border-radius: 100px;
            content: "";
            display: block;
            height: 0;
            width: 4px;
        }

        &::after
        {
            transform: translate(-50%, -50%) rotate(45deg);
            transition: height .2s;
        }

        &::before
        {
            transform: translate(-50%, -50%) rotate(-45deg);
            transition: height .2s .2s;
        }
    }

    &__entry
    {
        display: flex;
        flex-direction: row;
        padding: 1rem 0;

        @include responsive($br-small) // media query, ~750px
        {
            padding: .5rem 0;
        }

        @include responsive($br-phone) // media query, ~650px
        {
            flex-direction: column;
        }

        &--timetable
        {
            display: none;
        }
    }

    &__header
    {
        background-color: var(--color-primary);
        color: var(--color-text-secondary);
        font-size: 2.4rem;
        padding: 1rem 2rem; 
    }

    &__input
    {
        background-color: var(--color-background-transparent);
        border: 2px solid var(--color-primary);
        border-radius: var(--border-radius);
        color: var(--color-text-primary);
        flex: 3;
        font-family: inherit;
        font-size: 1.6rem;
        padding: 1rem 2rem;
        transition: border .2s;

        &:focus
        {
            box-shadow: 0 0 2rem var(--color-shadow);
            outline: none;
        }

        &::placeholder
        {
            color: var(--color-text-placeholder);
            font-family: inherit;
        }
    }

    &__entry &__input:placeholder-shown + &__label
    {
        @include responsive($br-phone) // media query, ~650px
        {
            opacity: 0;
            transform: translateY(5rem);
            visibility: hidden;
        }
    }

    &__entry--timetable &__input:placeholder-shown + &__label
    {
        @include responsive($br-phone) // media query, ~650px
        {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }
    }

    &__input[type="radio"]
    {
        display: none;
    }

    &__input[type="radio"]:checked + &__label &__button
    {
        &::after, &::before
        {
            height: 120%;
        }
    }

    &__input--validated
    {
        &:invalid
        {
            border: 2px solid var(--color-error);
        }

        &:valid
        {
            border: 2px solid var(--color-success);
        }
    }

    &__label
    {
        flex: 2;
        font-size: inherit;
        line-height: 3.6rem;
        order: -1;
        transition: all .2s;

        @include responsive($br-phone) // media query, ~650px
        {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }
    }

    &__radio
    {
        display: flex;
        justify-content: space-between;

        @include responsive($br-small) // media query, ~750px
        {
            flex-direction: column;
        }
    }

    &__radio-group
    {
        align-items: center;
        display: flex;
        font-size: 1.75rem;
        flex: 1;
    }

    &__submit
    {
        flex: 3;
    }
} 