.friendly
{
    background-color: var(--color-background-transparent);
    border: 1rem solid;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    scroll-margin-top: 10rem;
    width: 100%;

    &__body
    {
        display: flex;
        flex-direction: column;
        font-size: 1.8rem;
        padding: 1.8rem;
    }

    &__footer
    {
        border-top: 1rem solid;
        font-size: 2.2rem;
        padding: 3rem 1.8rem;
    }

    &__footer-container
    {
        display: flex;
        margin-bottom: 2.2rem;
    }

    &__footer-option
    {
        flex: 1;
        font-weight: 600;
    }

    &__footer-result
    {
        flex: 3;
    }

    &__header
    {
        align-items: center;
        border-bottom: 1rem solid;
        display: flex;
        font-size: 4rem;
        justify-content: space-between;
        padding: 1rem 3rem;

        @include responsive($br-small) // media query, ~750px
        {
            font-size: 3rem;
        }
    }

    &__icon
    {
        transition: transform 1s;
        width: 10rem;

        &:hover
        {
            transform: scale(1.1) rotateY(360deg);
        }

        @include responsive($br-small) // media query, ~750px
        {
            width: 8rem;
        }
    }

    &__match
    {
        display: flex;

        span
        {
            box-decoration-break: clone;
            hyphens: auto;
            padding: .5rem 1rem;
        }

        span:not(:last-child)
        {
            border-right: 2px solid var(--color-shadow-2);
        }

        span:nth-child(1), span:nth-child(2)
        {
            flex: 1;
        }

        span:nth-child(3)
        {
            flex: 3;
        }

        span:nth-child(4)
        {
            flex: 4;
        }

        &:not(:last-child)
        {
            margin-bottom: 1.8rem;
        }

        &--cursive
        {
            font-style: italic;
        }
    }

    &__menu
    {
        border: 2px solid var(--color-primary-dark);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;

        &-header 
        {
            background-color: var(--color-primary);
            color: var(--color-text-secondary);
            padding: 1rem 2rem;
            text-align: center;
        }

        &-clubs
        {
            display: grid;
            grid-template-columns: repeat(16, 1fr);
            grid-gap: .5rem;
            width: 100%;

            @include responsive($br-small)
            {
                grid-template-columns: repeat(8, 1fr);
            }
        }

        &-icon
        {
            width: 100%;
        }

        &-link
        {
            padding: 2px;
            transition: background-color .2s;

            &:hover
            {
                background-color: var(--color-shadow);
            }
        }
    }
}