.manage
{
    &__header, &__header &__option
    {
        background-color: var(--color-primary);
        color: var(--color-text-secondary);
        font-size: 2rem; 
    }

    &__option
    {
        background-color: var(--color-background-transparent);
        flex: 1;
        padding: .5rem 1rem;

        &:not(:last-child)
        {
            border-right: 2px solid var(--color-shadow);
        }
    }

}