.match
{
    &__competition
    {
        align-items: center;
        background-color: var(--color-primary-light);
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;

        &-name
        {
            align-items: center;
            display: flex;
        }
    }

    &__clubs
    {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1rem 1rem;

        &-name--away
        {
            flex-direction: row-reverse;

            .match__icon
            {
                margin-left: 1rem;
                margin-right: 0;
            }
        }

        &-name--home
        {
            flex-direction: row;
        }

        &-hour
        {
            flex: 1;
        }

        &-name
        {
            align-items: center;
            display: flex;
            flex: 3;
        }
    }

    &__clubs-name--away &__name
    {
        text-align: right;
    }

    &__container
    {
        border: 2px solid var(--color-primary-dark);
        border-radius: var(--border-radius);
        display: flex;
        flex-direction: column;
        font-size: 1.4rem;

        @include responsive($br-small)
        {
            font-size: 1.6rem;
        }
    }

    &__hour, &__clubs-hour
    {
        background-color: var(--color-primary);
        color: var(--color-text-secondary);
        font-weight: 600;
        padding: 1rem 1rem;
        text-align: center;
    }

    &__icon
    {
        margin-right: 1rem;
        width: 3.5rem;
    }
}