.notification
{
    background-color: transparent;
    border: 2px solid var(--color-text-primary);
    border-radius: var(--border-radius);
    color: var(--color-text-tertiary);
    font-size: 2rem;
    margin: 2rem 0;
    padding: 1rem 2rem;

    &--error
    {
        background-color: var(--color-error);
        border-color: var(--color-error-dark);
        color: var(--color-text-secondary);

        &:hover
        {
            background-color: var(--color-error-light);
        }
    }

    &--success
    {
        background-color: var(--color-success);
        border-color: var(--color-success-dark);
        color: var(--color-text-secondary);

        &:hover
        {
            background-color: var(--color-success-light);
        }
    }

    &--warning
    {
        background-color: var(--color-warning);
        border-color: var(--color-warning-dark);

        &:hover
        {
            background-color: var(--color-warning-light);
        }
    }
}