::selection
{
    background-color: var(--color-selection);
    color: var(--color-white);
}

*, *::before, *::after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body
{
    background-attachment: fixed;
    background-image: url("/background.jpg");
    background-size: cover;
}

hr
{
    border-color: var(--color-shadow-2);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

html
{
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px * 100%
    scroll-behavior: smooth;

    @include responsive($br-nav) // media query, ~1000px
    {
        font-size: 56.25%; // 9px
    }

    @include responsive ($br-cont) // media query, ~900px
    {
        font-size: 50%; // 8px
    }

    @include responsive ($br-small) // media query, ~750px
    {
        font-size: 43.75% // 7px
    }

    @include responsive($br-desk-big) // media query, ~1800px
    {
        font-size: 75%; // 12px
    }
}