body
{
    color: var(--color-text-primary);
    font-family: Roboto, sans-serif;
}

.header
{
    color: var(--color-error-light);
    font-weight: 600;
    line-height: 1.75;

    &--1
    {
        font-size: 3rem;
    }

    &--2
    {
        font-size: 2.6rem;
    }

    &--3
    {
        font-size: 2.2rem;
    }

    &--4
    {
        font-size: 2rem;
    }

    &--5
    {
        font-size: 1.85rem;
    }

    &--6
    {
        font-size: 1.7rem;
    }  
}