.u-display-none
{
    display: none !important;
}

.u-header
{
    background-color: var(--color-primary);
    color: var(--color-text-secondary);
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-weight: 600;
}

.u-mar-bottom-sm
{
    margin-bottom: .75rem !important;
}

.u-mar-bottom-md
{
    margin-bottom: 1.5rem !important;
}

.u-mar-bottom-lg
{
    margin-bottom: 3rem !important;
}

.u-mar-bottom-xl
{
    margin-bottom: 6rem !important;
}

.u-mar-top-sm
{
    margin-top: .75rem !important;
}

.u-mar-top-md
{
    margin-top: 1.5rem !important;
}

.u-mar-top-lg
{
    margin-top: 3rem !important;
}

.u-mar-top-xl
{
    margin-top: 6rem !important;
}

.u-text-center
{
    text-align: center !important;
}