<% include ../partials/header.ejs %>
<% match.date = moment(match.unixDate).format("YYYY-MM-DD HH:mm") %>
<form action="/timetable/id/<%= match._id %>?_method=PUT" method="POST" class="form">
    <div class="form__header">Nowy wpis</div>
    <div class="form__body">
        <div class="form__entry">
            <input type="text" name="match[date]" id="date" class="form__input" value="<%= match.date %>">
            <label for="date" class="form__label">Data:</label>
        </div>
        <div class="form__entry">
            <input type="text" id="hostTeam" name="match[hostTeam]" placeholder="Gospodarz" class="form__input" list="searchClubList" value="<%= match.teams[0] %>"></input>
            <label for="hostTeam" class="form__label">Gospodarz:</label>
        </div>
        <div class="form__entry">
            <input id="awayTeam" name="match[awayTeam]" placeholder="Gość" class="form__input" list="searchClubList" value="<%= match.teams[1] %>"></input>
            <label for="awayTeam" class="form__label">Gość:</label>
        </div>
        <div class="form__entry">
            <select id="competition" name="match[competition]" class="form__input">
                <option <% if(match.competition === "Ekstraklasa") { %> selected <% } %> value="Ekstraklasa">Ekstraklasa</option>
                <option <% if(match.competition === "I Liga") { %> selected <% } %> value="I Liga">I Liga</option>
                <option <% if(match.competition === "II Liga") { %> selected <% } %> value="II Liga">II Liga</option>
                <option <% if(match.competition === "Puchar Polski") { %> selected <% } %> value="Puchar Polski">Puchar Polski</option>
                <option <% if(match.competition === "CLJ") { %> selected <% } %> value="CLJ">CLJ</option>
                <option <% if(match.competition === "Sparing") { %> selected <% } %> value="Sparing">Sparing</option>
            </select>
            <label for="competition" class="form__label">Rozgrywki:</label>
        </div>
        <div class="form__entry">
            <input id="score" name="match[score]" placeholder="Wynik" class="form__input" value="<%= match.score %>"></input>
            <label for="score" class="form__label">Wynik:</label>
        </div>
        <div class="form__entry">
            <input id="description" name="match[description]" placeholder="Opis" class="form__input" value="<%= match.description %>"></input>
            <label for="description" class="form__label">Opis:</label>
        </div>
        <div class="form__entry">
            <select id="season" name="match[season]" class="form__input" value="<%= match.season %>">
                <option value="2020-21">2020/21</option>
            </select>
            <label for="season" class="form__label">Sezon:</label>
        </div>
        <div class="form__entry">
            <button class="button button--success form__submit button--block">Wyślij</button>
            <span class="form__label">&nbsp;</span>
        </div>
        <datalist id="searchClubList">
            <option value="Arka Gdynia"></option>
            <option value="Błękitni Stargard"></option>
            <option value="Bruk-Bet Termalica Nieciecza"></option>
            <option value="Bytovia Bytów"></option>
            <option value="Chojniczanka Chojnice"></option>
            <option value="Chrobry Głogów"></option>
            <option value="Cracovia"></option>
            <option value="Escola Varsovia Warszawa"></option>
            <option value="GKS 1962 Jastrzębie"></option>
            <option value="GKS Bełchatów"></option>
            <option value="GKS Katowice"></option>
            <option value="GKS Tychy"></option>
            <option value="Garbarnia Kraków"></option>
            <option value="Górnik Łęczna"></option>
            <option value="Górnik Polkowice"></option>
            <option value="Górnik Zabrze"></option>
            <option value="Gwarek Zabrze"></option>
            <option value="Hutnik Kraków"></option>
            <option value="Jagiellonia Białystok"></option>
            <option value="Jaguar Gdańsk"></option>
            <option value="KKS 1925 Kalisz"></option>
            <option value="KSZO 1929 Ostrowiec Świętokrzyski"></option>
            <option value="Karpaty Krosno"></option>
            <option value="Korona Kielce"></option>
            <option value="ŁKS Łódź"></option>
            <option value="Lech Poznań"></option>
            <option value="Lech II Poznań"></option>
            <option value="Lechia Gdańsk"></option>
            <option value="Lechia Zielona Góra"></option>
            <option value="Legia Warszawa"></option>
            <option value="Miedź Legnica"></option>
            <option value="Motor Lublin"></option>
            <option value="Odra Opole"></option>
            <option value="Olimpia Elbląg"></option>
            <option value="Olimpia Grudziądz"></option>
            <option value="Orlęta Radzyń Podlaski"></option>
            <option value="Piast Gliwice"></option>
            <option value="Pniówek Pawłowice"></option>
            <option value="Podbeskidzie Bielsko-Biała"></option>
            <option value="Podhale Nowy Targ"></option>
            <option value="Pogoń Siedlce"></option>
            <option value="Pogoń Szczecin"></option>
            <option value="Polonia Nysa"></option>
            <option value="Puszcza Niepołomice"></option>
            <option value="Radomiak Radom"></option>
            <option value="Raków Częstochowa"></option>
            <option value="Resovia Rzeszów"></option>
            <option value="Ruch Wysokie Mazowieckie"></option>
            <option value="Sandecja Nowy Sącz"></option>
            <option value="Skra Częstochowa"></option>
            <option value="Śląsk Wrocław"></option>
            <option value="Śląsk II Wrocław"></option>
            <option value="Ślęza Wrocław"></option>
            <option value="Sokół Ostróda"></option>
            <option value="Stal Mielec"></option>
            <option value="Stal Rzeszów"></option>
            <option value="Stal Stalowa Wola"></option>
            <option value="Stomil Olsztyn"></option>
            <option value="Świt Nowy Dwór Mazowiecki"></option>
            <option value="Świt Skolwin"></option>
            <option value="UKS SMS Łódź"></option>
            <option value="Unia Janikowo"></option>
            <option value="Unia Skierniewice"></option>
            <option value="Warta Poznań"></option>
            <option value="Widzew Łódź"></option>
            <option value="Wigry Suwałki"></option>
            <option value="Wisła Kraków"></option>
            <option value="Wisła Płock"></option>
            <option value="Zagłębie Lubin"></option>
            <option value="Zagłębie Sosnowiec"></option>
            <option value="Znicz Pruszków"></option>
        </datalist>
    </div>
</form>

<% include ../partials/footer.ejs %>