<% include ../partials/header.ejs %>
<section class="main__section">
    <div class="entry">
        <div class="entry__header">Sprawdź terminarz</div>
        <div class="entry__body">
            <form class="form" id="timetableForm">
                <div class="form__header">Wyszukaj po:</div>
                <div class="form__body"><div class="form__radio">
                    <div class="form__radio-group"><input type="radio" name="condition" id="dateRadio" class="form__input">
                    <label for="dateRadio" class="form__label"><div class="form__button"></div> Dacie</label></div>
                    <div class="form__radio-group"><input type="radio" name="condition" id="clubRadio" class="form__input">
                        <label for="clubRadio" class="form__label"><div class="form__button"></div> Klubie</label></div>
                    <div class="form__radio-group"><input type="radio" name="condition" id="leagueRadio" class="form__input">
                        <label for="leagueRadio" class="form__label"><div class="form__button"></div> Rozgrywkach</label></div>
                    
                </div>

                    <div class="form__entry form__entry--timetable" id="date">
                        <input type="date" id="searchDate" min="2020-08-08" class="form__input" placeholder="Data">
                        <label for="searchDate" class="form__label">Data:</label>
                    </div>
                    <div class="form__entry form__entry--timetable" id="season">
                        <select id="searchSeason" class="form__input">
                            <option value="2020-21">2020/21</option>
                        </select>
                        <label for="searchSeason" class="form__label">Sezon:</label>
                    </div>
                    <div class="form__entry form__entry--timetable" id="club">
                        <input type="text" id="searchClub" placeholder="Klub" class="form__input" list="searchClubList">
                        <label for="searchClub" class="form__label">Klub:</label>
                    </div>
                    <div class="form__entry form__entry--timetable" id="league">
                        <select id="searchLeague" class="form__input">
                            <option></option>
                            <option value="Ekstraklasa">Ekstraklasa</option>
                            <option value="I Liga">I Liga</option>
                            <option value="II Liga">II Liga</option>
                            <option value="CLJ">CLJ</option>
                            <option value="Puchar Polski">Puchar Polski</option>
                            <option value="Sparing">Sparing</option>
                            <option value="Superpuchar">Superpuchar</option>
                        </select>

                        <label for="searchLeague" class="form__label">Liga:</label>
                    </div>
                    <div class="form__entry form__entry--timetable" id="leg">
                        <input type="number" id="searchLeg" min="1" max="38" class="form__input" placeholder="Kolejka">
                        <label for="searchLeg" class="form__label">Kolejka:</label>
                    </div>
                    <div class="form__entry">
                        <button class="button button--success button--block">Szukaj</button>
                        <span class="form__label">&nbsp;</span>
                    </div>
                    <datalist id="searchClubList">
                        <option value="Arka Gdynia"></option>
                        <option value="Błękitni Stargard"></option>
                        <option value="Bruk-Bet Termalica Nieciecza"></option>
                        <option value="Bytovia Bytów"></option>
                        <option value="Chojniczanka Chojnice"></option>
                        <option value="Chrobry Głogów"></option>
                        <option value="Cracovia"></option>
                        <option value="Escola Varsovia Warszawa"></option>
                        <option value="GKS 1962 Jastrzębie"></option>
                        <option value="GKS Bełchatów"></option>
                        <option value="GKS Katowice"></option>
                        <option value="GKS Tychy"></option>
                        <option value="Garbarnia Kraków"></option>
                        <option value="Górnik Łęczna"></option>
                        <option value="Górnik Polkowice"></option>
                        <option value="Górnik Zabrze"></option>
                        <option value="Gwarek Zabrze"></option>
                        <option value="Hutnik Kraków"></option>
                        <option value="Jagiellonia Białystok"></option>
                        <option value="Jaguar Gdańsk"></option>
                        <option value="KKS 1925 Kalisz"></option>
                        <option value="KSZO 1929 Ostrowiec Świętokrzyski"></option>
                        <option value="Karpaty Krosno"></option>
                        <option value="Korona Kielce"></option>
                        <option value="ŁKS Łódź"></option>
                        <option value="Lech Poznań"></option>
                        <option value="Lech II Poznań"></option>
                        <option value="Lechia Gdańsk"></option>
                        <option value="Lechia Zielona Góra"></option>
                        <option value="Legia Warszawa"></option>
                        <option value="Miedź Legnica"></option>
                        <option value="Motor Lublin"></option>
                        <option value="Odra Opole"></option>
                        <option value="Olimpia Elbląg"></option>
                        <option value="Olimpia Grudziądz"></option>
                        <option value="Orlęta Radzyń Podlaski"></option>
                        <option value="Piast Gliwice"></option>
                        <option value="Pniówek Pawłowice"></option>
                        <option value="Podbeskidzie Bielsko-Biała"></option>
                        <option value="Podhale Nowy Targ"></option>
                        <option value="Pogoń Siedlce"></option>
                        <option value="Pogoń Szczecin"></option>
                        <option value="Polonia Nysa"></option>
                        <option value="Puszcza Niepołomice"></option>
                        <option value="Radomiak Radom"></option>
                        <option value="Raków Częstochowa"></option>
                        <option value="Resovia Rzeszów"></option>
                        <option value="Ruch Wysokie Mazowieckie"></option>
                        <option value="Sandecja Nowy Sącz"></option>
                        <option value="Skra Częstochowa"></option>
                        <option value="Śląsk Wrocław"></option>
                        <option value="Śląsk II Wrocław"></option>
                        <option value="Ślęza Wrocław"></option>
                        <option value="Sokół Ostróda"></option>
                        <option value="Stal Mielec"></option>
                        <option value="Stal Rzeszów"></option>
                        <option value="Stal Stalowa Wola"></option>
                        <option value="Stomil Olsztyn"></option>
                        <option value="Świt Nowy Dwór Mazowiecki"></option>
                        <option value="Świt Skolwin"></option>
                        <option value="UKS SMS Łódź"></option>
                        <option value="Unia Janikowo"></option>
                        <option value="Unia Skierniewice"></option>
                        <option value="Warta Poznań"></option>
                        <option value="Widzew Łódź"></option>
                        <option value="Wigry Suwałki"></option>
                        <option value="Wisła Kraków"></option>
                        <option value="Wisła Płock"></option>
                        <option value="Zagłębie Lubin"></option>
                        <option value="Zagłębie Sosnowiec"></option>
                        <option value="Znicz Pruszków"></option>
                    </datalist>
            </form>
            <div id="timetableMatches">

            </div>

            <% if(currentUser && currentUser.rank === "Admin") { %>
            <a href="/timetable/new" class="button button--success button--block u-mar-top-md">Dodaj nowy mecz</a>
            <% } %>
        </div>
    </div>
</section>
<aside class="main__aside">
    <div class="entry">
        <div class="entry__header"><span>Dzisiaj grają</span></div>
        <div class="entry__body" id="matchesToday">
            <div><span>Niestety, brak meczów</span></div>
        </div>
    </div><br><br>
    <div class="entry">
        <div class="entry__header"><span>Następne 8 meczów</span></div>
        <div class="entry__body" id="nextMatches">
            
        </div>
    </div>
</aside>
<% include ../partials/footer.ejs %>