<% include ../partials/header.ejs %>
<section class="main__section">
    <div class="form__entry"><input type="date" class="form__input" id="searchId"><button class="button button--success button--block form__submit" id="searchButton">Szukaj</button></div>
    <div class="row manage__header">
        <span class="manage__option">Data</span>
        <span class="manage__option">Mecz</span>
        <span class="manage__option">Edycja</span>
        <span class="manage__option">Usuń</span>
    </div>
    <div id="sectionMatches"></div>
</section>

<% if(currentUser && currentUser.rank === "Admin") { %>
    <script>
        const input = document.querySelector("#searchId");
        const button = document.querySelector("#searchButton");
        const section = document.querySelector("#sectionMatches");
        input.value = moment().format("YYYY-MM-DD");
        button.addEventListener("click", e => {
            const valueOf = moment(input.value).valueOf();
            section.innerHTML = "";
            fetch(`/timetable/next/${valueOf}`).then(res=>res.json()).then(data => {
                    data.forEach(match => {
                        const div = document.createElement("div");
                        div.classList.add("row");
                        div.innerHTML = `<span class="manage__option">${match.date}</span>
        <span class="manage__option">${match.teams[0]} - ${match.teams[1]}</span>
        <span class="manage__option"><a href="/timetable/id/${match._id}/edit" class="button button--success button--block">Edytuj</a></span>
        <span class="manage__option"><form action="/timetable/id/${match._id}?_method=DELETE" method="POST"><button class="button button--error button--block">Usuń</button></form></span>`
                        section.appendChild(div);
                });
            }).catch(err => alert("Wystąpił błąd"));
        });
    </script>
    <% } %>
<% include ../partials/footer.ejs %>