<% include ../partials/header.ejs %>

<form action="/entry/id/<%= entry._id %>?_method=PUT" method="POST" class="form">
    <div class="form__header">Edytuj wpis</div>
    <div class="form__body">
        <div class="form__entry">
            <input type="text" name="entry[title]" id="title" placeholder="Tytuł" value="<%= entry.title %>" class="form__input">
            <label for="title" class="form__label">Tytuł:</label>
        </div>
        <div class="form__entry">
            <textarea id="text" name="entry[text]" placeholder="Tekst artykułu" class="form__input" style="min-height: 20vh;"><%- entry.text %></textarea>
            <label for="text" class="form__label">Tekst:</label>
        </div>
        <div class="form__entry">
            <button class="button button--success button--block">Wyślij</button>
            <span class="form__label">&nbsp;</span>
        </div>
    </div>
</form>

<% include ../partials/footer.ejs %>