<% include ../partials/header.ejs %>
<form action="/entry" method="POST" class="form">
    <div class="form__header">Nowy wpis</div>
    <div class="form__body">
        <div class="form__entry">
            <input type="text" name="entry[title]" id="title" placeholder="Tytuł" class="form__input">
            <label for="title" class="form__label">Tytuł:</label>
        </div>
        <div class="form__entry">
            <textarea id="text" name="entry[text]" placeholder="Tekst artykułu" class="form__input" style="min-height: 20vh"></textarea>
            <label for="text" class="form__label">Tekst:</label>
        </div>
        <div class="form__entry">
            <span class="form__label">&nbsp;</span>
            <button class="button button--success button--block form__submit">Wyślij</button>
        </div>
    </div>
</form>

<% include ../partials/footer.ejs %>