<% include ../partials/header.ejs %>
<% moment.locale("pl") %>
<section class="main__section">
    <div class="entry">
        <div class="entry__header"><a href="/entry/id/<%= entry._id %>" class="entry__link">
            <%= entry.title %>
        </a></div>
        <div class="entry__body">
            <%- entry.text %>
            <% if(currentUser && currentUser.rank === "Admin") { %>
            <a href="/entry/id/<%= entry._id %>/edit" class="u-mar-top-sm button button--success button--block">Edytuj</a>
            <form action="/entry/id/<%= entry._id %>?_method=DELETE" method="POST" class="u-mar-top-sm"><button class="button button--error button--block">Usuń</button></form>
            <% } %>
        </div>
        <div class="entry__footer">
            <span><%= moment(entry.createdAt).fromNow() %></span>
            <span><a href="/entry/id/<%= entry._id %>#comments" class="entry__link"><%= entry.comments.length %> komentarz<% if(entry.comments.length%100 > 10 && entry.comments.length%100 < 20) { %>y<% } else if(entry.comments.length%10 > 1 && entry.comments.length%10 < 5) { %>e<% } else if(entry.comments.length === 1) { } else { %>y<% } %>  </a></span>
        </div>
        <div class="entry__body <% if(!currentUser && comments.length === 0) { %> u-display-none <% } %>" id="comments">
                <% if(currentUser && currentUser.accepted) { %>
                <form action="/entry/<%= entry._id %>/comment/new" method="POST" class="form">
                    <div class="form__header">Dodaj komentarz:</div>
                    <div class="form__body">
                        <div class="form__entry">
                            <textarea name="comment[text]" id="text" placeholder="Tekst wiadomości" class="form__input" style="min-height: 20vh; min-width: 100%; max-width: 100%"></textarea>
                        </div>
                        <div class="form__enntry">
                            <button class="button button--success button--block">Wyślij</button>
                            <span class="form__label">&nbsp;</span>
                        </div>
                    </div>
                </form>
                <% } %>
                <% comments.forEach(comment => { if(comment.accepted) { %>
                <div class="entry u-mar-top-md">
                    <div class="entry__footer">
                        <span>Autor: <strong><%= comment.author.username %></strong></span>
                        <span><%= moment(comment.createdAt).fromNow() %></span>
                    </div>
                    <div class="entry__body">
                        <% let commentText = comment.text.split("\r\n"); %>
                        <% commentText.forEach(cmt => { %>
                        <% if(cmt.length > 0) { %>
                        <p><%= cmt %></p><% } %>
                        <% }); %>
                        
                    </div>
                </div>
                <% }}); %>
            </div>
        </div>
</section>
<aside class="main__aside">
    <div class="entry">
        <div class="entry__header" style="display: flex; justify-content: space-between"><span id="entryBack"><svg class="entry__icon"><use href="/sprites.svg#icon-chevron-left"></use></svg></span><span>Artykuły</span><span id="entryNext"><svg class="entry__icon"><use href="/sprites.svg#icon-chevron-right"></use></svg></span></div>
        <div class="entry__body"><ul class="entry__list" id="entryList"></ul></div>
    </div>
    <br><br>
    <div class="entry">
        <div class="entry__header"><span>Dzisiaj grają</span></div>
        <div class="entry__body" id="matchesToday">
            <div><span>Niestety, brak meczów</span></div>
        </div>
    </div><br><br>
    <div class="entry">
        <div class="entry__header"><span>Następne 8 meczów</span></div>
        <div class="entry__body" id="nextMatches">
            
        </div>
    </div>
</aside>
<% include ../partials/footer.ejs %>